{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.messages: Area for system messages.
 * - page.footer_first: Items for the first footer region.
 * - page.footer_second: Items for the second footer region.
 * - page.footer_third: Items for the third footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<div id="wrap">
  <header id="wrap-header" >
    <div class="container">
      <!-- Menu -->
      {{ page.header }}
    </div>
  </header>

  <main id="wrap-body" role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% if page.messages %}
      <div class="container text-center">
        {{ page.messages }}
      </div>
    {% endif %}
    <!-- Slideshow -->
    <section class="color-w">
      <div class="container">
        <div class="bg-main-dark headinv skrollable skrollable-between">
          <div class="sidehow_caption_1">
            <h1 class="p-b-0 f-80">{{site_name}}</h1>
            <h2 class="p-b-0 spacing-5">{{site_slogan}}</h2>
          </div>
        </div>
        {{ drupal_menu('social-media') }}
      </div>
    </section>

    <div class="container">
      {{ page.content }}
    </div>
  </main>

  {% if page.footer_first or page.footer_second or page.footer_third %}
    <footer id="wrap-footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            {{ page.footer_first }}
          </div>
          <div class="col-12">
            {{ page.footer_second }}
          </div>
        </div>
			</div>
      <div class="footer-bt">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              {{ page.footer_third }}
            </div>
          </div>
				</div>
			</div>
    </footer>
  {% endif %}

</div>{# /#wrap #}
